name: Python checks

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  # Get changed files and store them in outputs
  changed-files:
    runs-on: ubuntu-latest
    name: Get changed files
    outputs:
      any_python_changed: ${{ steps.raw-changed-python-files.outputs.any_changed }}
      changed_python_files: ${{ steps.changed-python-files.outputs.all_changed_files }}
    steps:
      - uses: actions/checkout@v4
      - name: Get changed python files
        id: raw-changed-python-files
        uses: tj-actions/changed-files@v46
        with:
          files: |
            **.py
      - name: Check changed python files
        id: changed-python-files
        env:
          CHANGED_PYTHON_FILES: ${{ steps.raw-changed-python-files.outputs.all_changed_files }}
        run: |
          echo "all_changed_files=$CHANGED_PYTHON_FILES" >> "$GITHUB_OUTPUT"

  lint:
    name: Check style with Ruff
    runs-on: [self-hosted, linux]
    needs: changed-files
    if: needs.changed-files.outputs.any_python_changed == 'true'
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install dependencies
        run: |
          uv sync --group lint
      - name: Check style with Ruff
        run: |
          uv run ruff check --output-format=github .

  format:
    name: Check format with Ruff
    runs-on: [self-hosted, linux]
    needs: changed-files
    if: needs.changed-files.outputs.any_python_changed == 'true'
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install dependencies
        run: |
          uv sync --group lint
      - name: Check format with Ruff
        run: |
          uv run ruff format --check --diff .

  mypy:
    name: Check type hints with mypy
    runs-on: [self-hosted, linux]
    needs: changed-files
    if: needs.changed-files.outputs.any_python_changed == 'true'
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install dependencies
        run: |
          uv sync --all-extras
      - name: Check type hints with mypy
        run: |
          uv run mypy --show-error-codes --check-untyped-defs --config-file ./pyproject.toml ./
